pydub
numpy
pyannote.audio
speechbrain
scipy
torch
langdetect
openai-whisper
librosa
transformers
huggingface-hub
pytorch-lightning
ffmpeg
flask
flask-cors
torchaudio
sentencepiece
sacremoses
ffmpeg-python
